.custom-select {
  background: none;
}

.card {
  .media {
    .token-address {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    &.force-pb-0 {
      padding-bottom: 0 !important;
    }
  }

  .powered-by {
    a {
      font-size: xx-small;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
