.custom-select {
  background: none;
}

.card {
  .token-address {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .powered-by {
    a {
      font-size: xx-small;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
